/* * {
    margin: 0%;
    padding: 0%;
} */

table {
    color: white;
    background-color: black;
}

#button {
    background-color: rgb(254,189,105);
    height: 35px;
    width: 100px;
    border-radius: 5px;
}